body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}