.footer{
    background-color: #008D7C;
    width: 100%;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    height: 64px;
}

.footer .small-logo {
    align-self: center;
}

.footer .find-us {
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-items: center;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
}