.news {
    position: relative;
    padding: 40px;
}

.news .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news h2{
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;

    color: #006D5C;
}

.news .book-card:nth-of-type(4n) .stroke{
    display: none;
}