.popular {
    position: relative;
    padding: 40px;
    background-color: rgba(0, 141, 124, 0.35);
    min-height: 500px;
}

.popular .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular h2{
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;

    color: #006D5C;
}

.popular .arrow-left {
    position: absolute;
    left: -110px;
    top: 150px;
}

.popular .arrow-right {
    position: absolute;
    right: -110px;
    top: 150px;
}

.popular .book-card:nth-of-type(4n) .stroke{
    display: none;
}