.main-page {
    background-image: url("/img/Bitmap.png");
    background-size: cover;
}

.about-film {
    width: 1200px;
    margin: 0 auto;
    font-family: "Montserrat-Medium", Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 44px;
    margin-top: 350px;
    font-size: 36px;
}

.translate-name {
    font-weight: 700;
    font-size: 78px;
    line-height: 95px;
}